<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>

        <h1>Vertical Menu</h1>

        <div class="vertical-menu">
            <a href="#" class="active">Home</a>
            {% for file in time_series %}
                <a href="#">{{file}}</a>
            {% endfor %}
        </div>

        <div id="gallery">
            {% for img in images %}
                <img src="static/saved_images/{{img}}" width="40%"/>
            {% endfor %}
        </div>

    </body>
</html>
